 <div class="media">
        <img src="https://impremtanovagrafic.es/wp-content/uploads/2017/05/tintas-de-impresion-impremta-novagrafic.png"  
        width="5000"
        height="500"
        >
    </div>
    <div>
        <p>
            &nbsp;
            &nbsp;
            &nbsp;
        </p>
    </div>
    <div>
        <font color="Black" face='Mitr' size=7>
            <h0><center><i>DISTRIIMPRESOS Y SUMINISTROS SOLUMASTER SAS</i></center></h0>
            </font>
            <p>
                &nbsp;
            </p>
    </div>
    <div>
        <p>
            &nbsp;
        </p>
        <font color="Grey" face='Mitr' size=7>
            <p align="center"><i>Nuestros Productos</i></p>
            </font>
    </div>
 
    <div class="container">
        <div class="row">
            <div class="col col-md">
                <div class="figure">
                    <img src="https://static.wixstatic.com/media/72245c_7005a722b90043129a077ecec6c3a39b.jpg_srz_p_442_305_75_22_0.50_1.20_0.00_jpg_srz" alt=""
                    width="300"
                    height="300"
                    >
                    <h2><center>Tintas litográficas</center></h2>
                </div>
            </div>
            <div class="col col-md">
                <div class="figure">
                    <img src="https://cooimpresur.co/wp-content/uploads/2018/08/solucion-electroestatica-dentro.jpg" alt=""
                    width="300"
                    height="300"
                    >
                    <h2><center>Solución electrostática</center></h2>
                </div>
            </div>
            <div class="col col-md">
                <div class="figure">
                    <img src="https://static.wixstatic.com/media/a3761f_52a49f54af284fe7a4f165dd74137edf~mv2_d_3661_3533_s_4_2.jpg/v1/crop/x_0,y_87,w_3661,h_3358/fill/w_508,h_466,al_c,q_80,usm_0.66_1.00_0.01/PEGAPEL.webp" alt=""
                    width="300"
                    height="300"
                    >
                    <h2><center>PEGAPEL</center></h2>
                </div>
            </div>
        </div>
        <p>
            &nbsp;
        </p>
    </div>


    <div>
        <p>
            &nbsp;
        </p>
    </div>


