  <form action="" style="width: 500px; margin:auto">
        <label for="name">Nombre</label>
        <input type="text" name="name" id="name" class="form-control">
        <label for="lastname">Apellido</label>
        <input type="text" name="lastname" id="lastname" class="form-control">
        <label for="mail">Correo electronico</label>
       <input type="text" name="mail" id="mail" class="form-control">
       <label for="username">Nombre de Usuario</label>
       <input type="text" name="username" id="username" class="form-control">
        <label for="password">Contraseña</label>
       <input type="password" name="password" id="password" class="form-control">
        <label for="gender">Genero:</label>
       <select name="gender" id="gender" class="form-control">
           <option value="Masculino">Masculino</option>
           <option value="Femenino">Femenino</option>
           <option value="Indet">Otro</option>
       </select>
       <div class="form-group">
        <button type="submit">Guardar</button>
       </div>
   
    </form>