<div class="container"> 
     <div class="row">
            <div class="col">
             <div class="alert alert-warning alert-dismissable fade show" role="alert">
                 <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>
                 <h2 class="alert-heading">¡Estamos en mantenimieneto!</h2>
                 <p>Por favor haga vuelva a la pagina principal. <a href="/" class="alert-link">Volver</a>
                 </p>
             </div>
            </div>
        </div>
    </div>